{% extends 'base.html' %}


{% load static %}
{% block myblock %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static '8.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Electronic</b></h4>
                  <p>Architect & Engineer</p>
                </div>
              </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static '8.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Keyboard</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static '8.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Speaker</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>


        </div>
    </div>

    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static '8.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Mobile Phone</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static '8.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Tabletes</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static '8.jpg' %}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Ecommerce</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock myblock %}